<!--
/**
* CedCommerce
*
* NOTICE OF LICENSE
*
* This source file is subject to the End User License Agreement (EULA)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://cedcommerce.com/license-agreement.txt
*
* @category  modules
* @package   cedshopee
* @author    CedCommerce Core Team 
* @copyright Copyright CEDCOMMERCE (http://cedcommerce.com/)
* @license   http://cedcommerce.com/license-agreement.txt
*/
-->
{{ header }}{{ column_left }} 
<div id="content">
   <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ fetch }}" title="{{ button_add }}" class="btn btn-primary">Fetch Category</i></a>
        <a onclick="$('form').submit();" title="{{ button_delete }}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
    
    <div class="container-fluid">
      {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    {% if (success) %} 
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
        
        <div class="panel panel-default">
         <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
         </div>
         <div class="panel-body">
          <div class="well">
          <div class="row">
          <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-category_id">{{ entry_category_id }}</label>
                 <input type="text" name="filter_category_id" value="{{ filter_category_id }}" placeholder="{{ entry_category_id }}" id="input-category_id" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-category_name">{{ entry_category_name }}</label>
                 <input type="text" name="filter_category_name" value="{{ filter_category_name }}" placeholder="{{ entry_category_name }}" id="input-category_name" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
               <div class="form-group">
                <label class="control-label" for="input-parent_id">{{ entry_parent_id }}</label>
                 <input type="text" name="filter_parent_id" value="{{ filter_parent_id }}" placeholder="{{ entry_parent_id }}" id="input-parent_id" class="form-control" />
              
              <button type="button" id="button-filter" class="btn btn-primary pull-right"><i class="fa fa-search"></i> {{ button_filter }}</button>
              </div>
            </div>
          </div>
        </div>
            <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);"/>
                        </td>
                        <td class="left">{% if (sort == 'category_id') %} 
                            <a href="{{ sort_category_id }}"
                               class="{{ order }}">{{ column_category_id }}</a>
                            {% else %} 
                            <a href="{{ sort_category_id }}">{{ column_category_id }}</a>
                            {% endif %}</td>
                        <td class="left">{% if (sort == 'category_name') %} 
                            <a href="{{ sort_category_name }}"
                               class="{{ order }}">{{ column_category_name }}</a>
                            {% else %} 
                            <a href="{{ sort_category_name }}">{{ column_category_name }}</a>
                            {% endif %}</td>
                        <td class="left">{% if (sort == 'parent_id') %} 
                            <a href="{{ sort_parent_id }}"
                               class="{{ order }}">{{ column_parent_id }}</a>
                            {% else %} 
                            <a href="{{ sort_parent_id }}">{{ column_parent_id }}</a>
                            {% endif %}</td>

                    </tr>
                    </thead>
                    <tbody>
                    {% if (categorys) %} 
                    {% for category in categorys %} 
                    <tr>
                        <td style="text-align: center;">{% if (category['selected']) %} 
                            <input type="checkbox" name="selected[]" value="{{ category['id'] }}"
                                   checked="checked"/>
                            {% else %} 
                            <input type="checkbox" name="selected[]" value="{{ category['id'] }}"/>
                            {% endif %}</td>
                        <td class="left">{{ category['category_id'] }}</td>

                        <td class="left">{{ category['category_name'] }}</td>

                        <td class="left">{{ category['parent_id'] }}</td>

                    </tr>
                    {% endfor %} 
                    {% else %} 
                    <tr>
                        <td colspan="5" class="center">{{ text_no_results }}</td>
                    </tr>
                    {% endif %} 
                    </tbody>
                  </table>
                </div>
            </form>
            <div class="row">
             <div class="col-sm-6 text-left">{{ pagination }}</div>
             <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
        </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">

    var search = document.getElementById('input-category_name');
    search.addEventListener('keyup', function (event) {
        event.preventDefault();

        if (event.keyCode === 13) {
            document.getElementById('button-filter').click();
        }
    });

    var searchCatId = document.getElementById('input-category_id');
    searchCatId.addEventListener('keyup', function (e) {
        e.preventDefault();
        if (e.keyCode === 13) {
            document.getElementById('button-filter').click();
        }
    });

    var searchCatCode = document.getElementById('input-parent_id');
    searchCatCode.addEventListener('keyup', function (e) {
        e.preventDefault();
        if (e.keyCode === 13) {
            document.getElementById('button-filter').click();
        }
    });

    $('#button-filter').on('click', function () {
        var url = 'index.php?route=extension/module/cedshopee/category&user_token={{ user_token }}';

        var filter_category_id = $('input[name=\'filter_category_id\']').val();

        if (filter_category_id) {
            url += '&filter_category_id=' + encodeURIComponent(filter_category_id);
        }

        var filter_category_name = $('input[name=\'filter_category_name\']').val();

        if (filter_category_name) {
            url += '&filter_category_name=' + encodeURIComponent(filter_category_name);
        }

        var filter_parent_id = $('input[name=\'filter_parent_id\']').val();

        if (filter_parent_id) {
            url += '&filter_parent_id=' + encodeURIComponent(filter_parent_id);
        }

        location = url;
    });
</script>
{{ footer }} 
