<!--
/**
* CedCommerce
*
* NOTICE OF LICENSE
*
* This source file is subject to the End User License Agreement (EULA)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://cedcommerce.com/license-agreement.txt
*
* @category  modules
* @package   cedshopee
* @author    CedCommerce Core Team 
* @copyright Copyright CEDCOMMERCE (http://cedcommerce.com/)
* @license   http://cedcommerce.com/license-agreement.txt
*/
-->
{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-danger">  Cancel Order</a>
       <a href="{{ back }}" data-toggle="tooltip" title="{{ button_Back }}" class="btn btn-default">Back</a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  
  <div class="container-fluid">
   {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    {% if (success) %} 
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
    </div>
   <div class="panel-body">
    <div class="panel panel-default">
        <form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
            {% if (orders) %} 
              <h2>Order Details </h2>
              {% for key,order in orders %} 
                <tr><td class="left">{{ key }}</td><td class="left">{{ order }}</td></tr>
              {% endfor %}
 {% endif %} 
            </table>
            <table class="table table-bordered table-hover">
            {% if (shippingInfo) %} 
              <h2>Order shippingInfo </h2>
              {% for key,shipping in shippingInfo %} 
                {% if shipping %} 
                <tr><td class="left">{{ key }}</td><td class="left">
                
 {% for val in shipping %} 
                  <p>{{ val }}</p>
                {% endfor %}
</td></tr>
                {% else %} 
                <tr><td class="left">{{ key }}</td><td class="left">{{ shipping }}</td></tr>
              {% endif %}
 {% endfor %}
 {% endif %} 
            </table>
            
            {% if (products) %} 
              <h2>Order products </h2>
              {% for key,product in products %} 
                <table class="list">
                 <h2>Ordered Items {{ key+1 }}</h2>
                {% for key,prod in product %} 

                  {% if prod %} 
                  <tr><td class="left">{{ key }}</td><td class="left">
                  
 {% for k,val in prod %} 
 {% if val %} 
 {{ '<pre>' }} print_r(val['0']) 
 {% endif %} 
                      <p>{{ k }}&nbsp : &nbsp{{ val }}</p>
                  {% endfor %}
</td></tr>
                  {% else %} 
                  <tr><td class="left">{{ key }}</td><td class="left">{{ prod }}</td></tr>
                {% endif %}
 {% endfor %}
  
                </table>
              {% endfor %}
 {% endif %} 
            
          </div>
        </form>
        
      </div>
      </div>
      
    </div>
  </div>
  </div>
{{ footer }}